.header{
  
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: sticky;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.cartItem{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    
}
.cartItem:hover{
    border-color: 4px solid white;
}
.text-cart{
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    color: white;
}
.image-container{
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    margin:5%
}
#addItems,#removeItems{
    background-color: gray;
}
.quantity{
    display: flex;
    justify-content: space-around;
}
.headerh1{
    margin-left: 2rem;
    font-weight: 800;
}
.cartButton{
    border:4px solid var(--blue);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--blue);
    font-weight: 500;
}
.cartButton:hover{
    box-shadow: -8px 8px 0 var(--green);
    transform: translateY(-2px);
    transform: translateX(-2px);
}
.cartContent{
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    
}
.cartContent>h2{
    font-size: 5rem;
}